<a href="https://colab.research.google.com/github/suf263/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name=input("Enter name:")
age=int(input("Enter age:"))
print("Your name is {} and your age is {}".format(name,age))

Enter name:sufinashahulhameed
Enter age:19
Your name is sufinashahulhameed and your age is 19

In [2]:
name = input("Enter your name:")
address = input("Enter your address:")
tel_num = int(input("Enter telephone number:"))
print(name)
print(address)
print(tel_num)

Enter your name:sufina shahul hameed
Enter your address:student of Lbsitw
Enter telephone number:7306798812
sufina shahul hameed
student of Lbsitw
7306798812

In [3]:
>>> print("Your name is",name)

Your name is sufina shahul hameed

In [4]:
>>> name = 28
name

28

In [6]:
radius = float(input("Enter any radius:"))
areaofcircle = 3.14*radius**2
print("The area of circle is",areaofcircle)

Enter any radius:5
The area of circle is 78.5

In [9]:
>>> statement = input("python is really cool!")

python is really cool!sufina

In [18]:
>>> n = int(input("enter n"))

enter n 29

In [19]:
  >>> n + 1

30